/*
* @Author: dr3116
* @Date:   2019-12-20 17:30:14
* @Last Modified by:   dr3116
* @Last Modified time: 2019-12-23 17:42:56
*/
.subject{
	height: 1540px;
	width: 800px;
	border: 1px solid black;
	position: absolute;
	left: 380px;
}
#top{
	height: 580px;
}
#one{
	height: 250px;
	width:250px ;
	border: 2px solid black;
}
#data{
	position: relative;
	left:300px;
	top: -270px;
}
#bgimg{
	height: 320px;
	width: 800px;
}
#link{
	font-size: 25px;
	text-decoration: none;
}
#link1{
	height: 50px;
	width: 264px;
	background: yellow;
	float: left;
	border: 1px solid black;
}
#link2{
	height: 50px;
	width: 264px;
	background: blue;
	float: left;
	border: 1px solid black;
}
#link3{
	height: 50px;
	width: 264px;
	background: pink;
	float: left;
	border: 1px solid black;
}
.link0{
	text-decoration: none;
	font-size: 25px;
	position: relative;
	left: 80px;
	top: 5px;
}
.mp4{
	width:264px;
	height: 300px;
	background: orange;
	border: 1px solid black;
	float: left;
}
.video{
	width: 264px;
	height: 300px;
}
#guanzhu{
	background-color: blue;
	width: 270px;
	height: 50px;
	font-size: 20px;
}
#fans{
	background-color: pink;
	width: 270px;
	height: 50px;
	font-size: 20px;
}
